@import '@ppzp/stylus'

.jt-options
  &>button
    border: none
    outline: none
    background: transparent
    padding: 0

    display: block
    width: 3rem
    line-height: 3rem
    height: 3rem
    border-radius: 1.5rem

    fixed(right: 2rem, top: 1.3rem)
    color: text()
    shadow(color: text(a: .1))
    cursor: pointer
    transition: all .3s

    span
      font-size: 1.8rem
      color: text(a: .5)
    &:hover
      shadow(color: text(a: .2))
      span
        color: text(a: .66)
