headBgColor = #000
headColor = #fff

flex-center()
  display: flex
  align-items: center
  justify-content: center

flex-x-center()
  display: flex
  align-items: center

shadow()
  box-shadow: 0 0 10px rgba(0,0,0,.6);