@import '@ppzp/stylus'

.just-type-head
  display: flex
  align-items: center
  justify-content: flex-end
  fixed(top: 0, left: 0, right: 0)
  height: 3rem
  shadow()
  padding: 0 2rem
  .app-title
    font-size: 1.2rem
    font-weight: bolder
    color: primary()
  .tool-bar
    flex: 1
    font-size: .9rem
    text-align: right
    a.top-btn
      text-decoration: none
      color: text(a: .6)
      &:hover
        color: text()
      .iconfont
        font-size: 1.6em
