@import '@ppzp/stylus'

.just-type-head
  display: flex
  align-items: center
  justify-content: flex-end
  fixed(top: 0, left: 0, right: 0)
  height: 2rem
  shadow()
  .app-title
    absolute(left: 0)
    font-weight: 600
  .just-type-tool-bar
    flex: 1
    line-height: 2
    font-size: .9rem
    text-align: right
